RxnScribe @ git+https://github.com/Ozymandias314/MolDetect.git
MolScribe @ git+https://github.com/CrystalEye42/MolScribe.git@250f683
ChemIENER @ git+https://github.com/Ozymandias314/ChemIENER.git
chemrxnextractor @ git+https://github.com/CrystalEye42/ChemRxnExtractor.git@0f9529d
